{{extend 'layout.html'}}

 <style type="text/css">
	input[type=text], input[type=password],  select {
		margin: 2px 0px 2px 0px;
		width:150px;
	}
	div.error {
		margin-left:0px;
		width:auto;
	}
	
	#key_values_skey{
	width:100px;
	}
	#key_values_svalue{
	width:200px;
	}
	
	
 </style>
 
<body class="claro">   
<table width="100%"  border="0" cellspacing="0" cellpadding="0" style="background-color:#FFFFFF;" >
  <tr height="30px" >
    <td width="700"><span class="blackCatTitle">Key Values Add</span></td>
    
	<form action="{{=URL(c='default',f='index')}}" method="post">
	<td width="210" align="right"><input name="" type="submit"  value="<< Back"/></td>
	</form>
	
    <td>&nbsp;</td>
  </tr>
  <tr  height="1px" style="background-color:#CCCCCC;">
	    <td colspan="3" ></td>
  </tr>
</table>
  
  <table width="100%" height="500px"  border="0" cellspacing="0" cellpadding="0" class="page_color" id="table_big"  >
  <tr height="100%"  style="vertical-align:top;">
    <td width="10px">&nbsp;</td>
    <td>
	<table width="100%"  border="0" cellpadding="0" cellspacing="0"  >
      <tr>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>
		
          <br />
			 <table width="750" border="1" cellpadding="1" cellspacing="1" class="sample_border" >
               <tr align="left" class="blackCatHead"  height="20px" ;"vertical-align:middle">
                 <td width="100" >Key</td>
                 <td width="200" >Value</td>
                 <td >Creation Time</td>
                 <td width="50" align="right" ></td>
               </tr>
			   
		  		{{=form.custom.begin}}
			  <tr  align="left" class="blackCat"  style="vertical-align:middle">
				<td width="100" >{{=form.custom.widget.skey}}</td>
				<td width="200" >{{=form.custom.widget.svalue}}</td>
				<td width="200" >&nbsp;</td>
				<td width="50" align="right">{{=form.custom.submit}}</td>
		      </tr>
			  {{=form.custom.end}}
         
			   
	   {{for i,record in enumerate(records):}}	     
		  <tr  align="left" class="blackCat"  style="vertical-align:middle"> 
			  <td width="100" >{{=record.skey}}</td>
			  <td width="200" >{{=record.svalue}}</td>		  
			  <td width="80" >{{=record.created_on}}</td>
			  
			  <form id="form1" name="form1" method="post" action="{{=URL(c='key_values',f='key_value_edit',args=[record.id])}}">
		          <td width="50" align="right"  >
		          	  <input type="submit" name="btn_go" id="btn_go" value="&gt;&gt;" class="button_update"/>              
				  </td>
			  </form>
		  
		</tr>
			   {{pass}}
		    </table>
		  <p>&nbsp;</p>
		
		</td>
		  </tr>
    </table>
   

</td>
  </tr>
</table>

</body>
