{{extend 'layout.html'}}
 
  <style type="text/css">
	input[type=text], input[type=password],  select {
		margin: 2px 0px 2px 0px;
		width:250px;
	}
	
	div.error {
		width: 250px;
	}
	
	}
 </style>
 
<table width="100%"  border="0" cellspacing="0" cellpadding="0" style="background-color:#FFFFFF;" >
  <tr height="30px" >
    <td width="340"><span class="blackCatTitle">Key Value-Edit</span></td>
    
	<form action="{{=URL(c='key_values',f='key_value_add')}}" method="post">
	<td width="200" align="right"><input name="" type="submit"  value="<< Back"/></td>
	</form>
	
    <td>&nbsp;</td>
  </tr>
  <tr  height="1px" style="background-color:#CCCCCC;">
	    <td colspan="3" ></td>
  </tr>
  </table>
  
  
  <table width="100%" height="500px"  border="0" cellspacing="0" cellpadding="0" class="page_color"  >
  <tr height="100%"  style="vertical-align:top;">
    <td>
	<table width="100%"  border="0" cellpadding="0" cellspacing="0"  >
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>{{=form.custom.begin}}
          <table width="500" class="blackCat">
            <tr>
              <td width="100"> Key </td>
              <td>{{=form.custom.widget.skey}}</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td width="100">Value</td>
              <td>{{=form.custom.widget.svalue}}</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
            </tr>
                        
            <tr>
              <td width="100">Delete</td>
              <td>{{=form.custom.deletable}}</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td width="100">&nbsp;</td>
              <td>{{=form.custom.submit}}</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
            </tr>
			
			<tr height="2px">
              <td width="100"></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </table>
          {{=form.custom.end}}</td>
      </tr>
    </table>
	</td>
  </tr>
</table>

