{{extend 'layout_main.html'}}



 <table width="100%" class="no_padding">
	<tr height="28px"  class="page_title" style="background-color:#F0F0F0">
		<td width="329" align="left" style="padding:0px;"><div class='title'>Dashboard</div></td>
		<td width="323" style="padding:0px;">&nbsp;</td>
	    <td style="padding:0px;">&nbsp;</td>
	</tr>
	<tr height="0px" class="page_title_underline">
		<td colspan="3" style="padding:0px;"></td>
  	</tr>
</table>


<table class="no_padding">
	<tr height="10px">
		<td ></td>
  	</tr>

<tr>
<td height="500" valign="top" >
<!--start-->
<table width="100%" style="margin-top:0px; margin-bottom:0px;">
<tr>
<td width="150" style="background-color:#F4F4F4">Schedule Display for</td>
{{for i in range(len(dateList)):}}
<form id="form1" name="form1" method="post" action="{{=URL(c='default',f='home')}}">
<td width="80" style="background-color:#F4F4F4">
	<input type="hidden" name="filtered_date" value="{{=dateList[i]}}"/>
	{{if str(session.filtered_date)==str(dateList[i]):}}
		<input type="submit" name="btn_date" id="btn_date" value="{{=datetime.datetime.strptime(str(dateList[i]),'%Y-%m-%d').strftime('%d.%m.%Y')}}" style="background-color:#FFCC66" />
	{{else:}}
		<input type="submit" name="btn_date" id="btn_date" value="{{=datetime.datetime.strptime(str(dateList[i]),'%Y-%m-%d').strftime('%d.%m.%Y')}}" />
	{{pass}}
</td>
</form>
{{pass}}
<td>&nbsp;</td>
</tr>
</table>

<table width="100%" border="0" cellpadding="1" cellspacing="1" class="table_title" style="margin-bottom:0px;" >
			   <form id="form1" name="form1" method="post" action="{{=URL(c='default',f='home')}}">
                 <tr align="left" class="blackCatHead"  height="20px" ;"vertical-align:middle">
                   <td width="200" >
                   <select name="search_type" id="search_type" style="width:200px" >
                       <option selected="selected">Select a Type</option>
                        {{if session.search_type_emp_schedule=='EmpID':}}<option value="EmpID" selected="selected">Employee ID/Name</option>{{else:}}<option value="EmpID" >Employee ID/Name</option>{{pass}}
                        {{if session.search_type_emp_schedule=='Designation':}}<option value="Designation" selected="selected">Designation</option>{{else:}}<option value="Designation" >Designation</option>{{pass}}
                        
                   </select>
				   </td>
                   <td width="300" >
                   {{if session.search_value_emp_schedule=='' or session.search_value_emp_schedule==None:}}
                    <input  name="search_value" type="text" id="search_value" size="25" value="" placeholder="Select a value" autocomplete="off" style="width:300px"/>
                  {{else:}}
                    <input  name="search_value" type="text" id="search_value" size="25" value="{{=session.search_value_emp_schedule}}" placeholder="Select a value" autocomplete="off" style="width:300px"/>
                  {{pass}}                   </td>
                   <td width="100" align="right"  >
				   <select name="arrange_by" id="arrange_by" style="width:300px" >
                       <option value="" selected="selected">Arrange (DB)</option>
                        {{if session.search_arrange_emp_schedule=='Alphabet':}}<option value="Alphabet" selected="selected">Alplabetical Order</option>{{else:}}<option value="Alphabet" >Alplabetical Order</option>{{pass}}
                        {{if session.search_arrange_emp_schedule=='EngageRateAsc':}}<option value="EngageRateAsc" selected="selected">Work Engagement Rate by Assending</option>{{else:}}<option value="EngageRateAsc" >Work Engagement Rate by Assending</option>{{pass}}
                        {{if session.search_arrange_emp_schedule=='EngageRateDesc':}}<option value="EngageRateDesc" selected="selected">Work Engagement Rate by Decending</option>{{else:}}<option value="EngageRateDesc" >Work Engagement Rate by Decending</option>{{pass}}
                        
                   </select>
				   
				   </td>
                   <td width="100" align="right"  ><input type="submit" name="btn_filter" id="btn_filter" value="Filter"   class="button_update"/>
                   <input type="submit" name="btn_filter_all" id="btn_filter_all" value="All"   class="button_update"/></td>
                   <td align="right"  >&nbsp;</td>
                   
			     </tr>
	        </form>
      </table>

	<div style="width:100%; background-color:#F4F4F4;">Over all Resource Engagement: {{=resourceEngRate}}% <!-- {{#=current_time}} --></div>
	<table width="100%" border="1" cellpadding="1" cellspacing="1" class="border_table" style="margin-top:0px;border:2px solid #999999">
            <!--Table header-->
			<tr align="left" class="table_title" height="20px" style="border-style:solid; border-width:1px; border-color:#999999">
              <td width="200" style="border-style:solid; border-width:1px; border-color:#999999">Emp.ID</td>
			  <td width="100" style="border-style:solid; border-width:1px; border-color:#999999; text-align:center">Schedule</td>
              <td align="left" width="100" style="border-style:solid; border-width:1px; border-color:#999999">W.En.Rate</td>
			  {{for i in range(len(headerList)):}}
			  	<td align="left" width="100" style="border-style:solid; border-width:1px; border-color:#999999">{{=headerList[i]}}</td>			  
			  {{pass}}			  
            </tr>
			<!--end-->
			
			<!--Table Details-->
			{{ p=0}} 		  
            {{for i in range(len(scheduleList)):}}
				{{#if i==items_per_page: break}}
				
				{{dictData=scheduleList[i]}}				
				
			{{if p==0:}}{{q="table_row1"}}{{p=1}}{{else:}}{{q="table_row2"}}{{p=0}}{{pass}}
            <tr  align="left" style="vertical-align:middle" class="{{=q}}">
              <td width="300" ><div style="width:200px; font-weight:bold; font-size:12px">{{=dictData['empName']}}, {{=dictData['empDesig']}}</div></td>
			  <form id="form1" name="form1" method="post" action="{{=URL(c='employee',f='add_schedule',args=[page,dictData['empId']])}}">
			  <td align="left" width="100" style="text-align:center">{{if dictData['empId']==session.user_id:}}<input type="submit" name="btn_add_sch" value="Add"/>{{pass}}</td>
              </form>
			  <td align="left" width="100" style="border-right:1px solid #666666">{{=dictData['engagementRate']}}%</td>			  
			  
			  {{empSlotList=dictData['empSlotList']}}
			  {{for i in range(len(empSlotList)):}}
			  	
				{{slotKeys=empSlotList[i].keys()[0]}}
			  	{{slotValue=empSlotList[i].values()[0]}}
				{{slotKeysFrom=str(session.filtered_date)+' '+str(slotKeys[0:5])}}
				
				{{sch_id=''}}
				{{slot_value=''}}
				{{if slotValue!='':}}
					{{try:}}
						{{sch_id=slotValue.split(',')[0]}}
						{{slot_value=slotValue.split(',')[1]}}
					{{except:}}
					{{pass}}
				{{pass}}
				
				
				{{bgColor=''}}				
				{{if slotKeys in lunchSlotList:}}
					{{bgColor='background-color:#E8F4FF'}}
			  	{{elif slotValue=='':}}
					{{bgColor='background-color:#F1F1E4'}}				
				{{pass}}
				
			  	<td align="left" width="100" style="{{=bgColor}}">{{if ((dictData['empId']==session.user_id) and (slotKeysFrom > current_time)):}}<a href="{{=URL(c='employee',f='edit_schedule',args=[page,dictData['empId'],sch_id])}}"><div>{{=slot_value}}</div></a>{{else:}}{{=slot_value}}{{pass}}</td>			  
			  {{pass}}
			  
            </tr>
            {{pass}}
			<!--end-->
</table>

		<!-- {{#if page:}}
			&nbsp;&nbsp;<a href="{{=URL(args=[page-page])}}">first</a> |  
			&nbsp;&nbsp;<a href="{{=URL(args=[page-1])}}">previous</a> |
		{{#pass}}
			
		{{#if len(scheduleList)>items_per_page:}}
			&nbsp;&nbsp;<a href="{{=URL(args=[page+1])}}">next</a>
		{{#pass}} -->
		
<!--end--></td>
</tr>
</table>