{{extend 'layout_login.html'}}

<table border="1" style="width:100%; text-align:center; margin-left:5%; margin-right:5%; border-style:solid 2px #F5F5F5;">
<tr><td>

<table border="0" width="100%" height="400" >
<form name="form1" method="post" action="{{#=URL(c='default',f='check_user')}}">
<tr>
<td width="500" height="29" valign="top">&nbsp;</td>
<td width="500" valign="top">&nbsp;</td>
</tr>
<tr>
	<td width="500" height="191" valign="top">
	APIs:</br>
	http://127.0.0.1:8000/telinor_health/default/get_keys </br>
	http://127.0.0.1:8000/telinor_health/default/get_values?akeys=key1,key2 </br>
	http://127.0.0.1:8000/telinor_health/default/post_values?akeys={'key1':'value1','key2':'value2'} </br>
	http://127.0.0.1:8000/telinor_health/default/patch_values?akeys={'key1':'value1','key2':'value2'} </br>
		
	</td>
	<td width="500" style="text-align:right; vertical-align:top"><img src="{{=URL('static','images/telenor_health.png')}}"/></td>
	</tr>
	
	<tr align="center" valign="top">		  
  		<td colspan="2" style="text-align:left; font-weight:bold">
  		
  		<a href="{{=URL(c='key_values',f='key_value_add')}}">Key Value List And Add/Edit Submit Form</a>
  		
		</td>
		
  	</tr>
  	
	<tr align="center" valign="top">
	
  		<td colspan="2" style="text-align:center; font-size:36px; font-weight:bold">Telenor Health</td>
  	</tr>
</form>
</table>

</td>
</tr>
</table>
 

