<!--[if HTML5]><![endif]-->
<!DOCTYPE html>

 <html lang="{{=T.accepted_language or 'en'}}" class="no-js"> 
<head>
<title>{{=response.title or request.application}}</title>

  <meta charset="utf-8" />

  <meta name="application-name" content="{{=request.application}}" />

  <meta name="google-site-verification" content="" />

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="shortcut icon" href="{{=URL('static','images/favicon.ico')}}" type="image/x-icon">
  <link rel="apple-touch-icon" href="{{=URL('static','images/favicon.png')}}">

  <script src="{{=URL('static','js/modernizr.custom.js')}}"></script>

  <!-- include stylesheets -->
  {{
  response.files.insert(0,URL('static','css/web2py.css'))
  response.files.insert(1,URL('static','css/bootstrap.min.css'))
  response.files.insert(2,URL('static','css/bootstrap-responsive.min.css'))
  response.files.insert(3,URL('static','css/web2py_bootstrap.css'))
  }}

  {{include 'web2py_ajax.html'}}

  {{
  # using sidebars need to know what sidebar you want to use
  left_sidebar_enabled = globals().get('left_sidebar_enabled',False)
  right_sidebar_enabled = globals().get('right_sidebar_enabled',False)
  middle_columns = {0:'span12',1:'span9',2:'span6'}[
    (left_sidebar_enabled and 1 or 0)+(right_sidebar_enabled and 1 or 0)]
  }}

  <!-- uncomment here to load jquery-ui
       <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/ui-lightness/jquery-ui.css" type="text/css" media="all" />
       <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js" type="text/javascript"></script>
       
	    uncomment to load jquery-ui-->
	   
	   
	    
  <noscript><link href="{{=URL('static', 'css/web2py_bootstrap_nojs.css')}}" rel="stylesheet" type="text/css" /></noscript>
  {{block head}}{{end}}
</head>

<body>

  <!-- Navbar ==================================================#F3F3F3 -->
   <div class="navbar navbar-inverse">
     
   <table style=" width:100%; margin:0px 0px 0px 0px; ">
	   <tr ><td width="100"><img src="{{=URL('static','images/mbh_logo.PNG')}}"/> </td>
	   <td style="text-align:center; font-size:16px; color:#666666; font-weight:bold">MBH Organization Ltd.</td><td width="100">&nbsp;</td>
	   </tr>
   </table>

<!--Second part-->
<table width="100%" border="0" class="second_table" style="margin-bottom:0px; ">
  <tr height="20px">
    <td width="2" >&nbsp;</td>
    <td align="left">{{=A('Home',_href=URL(c='accounts_superadmin',f='accounts_superhome'))}}</td>
    <td width="400" style="text-align:right">Accounts Super Administrator</td>
    <td width="60" style="text-align:right">&nbsp;{{=A('Logout',_href=URL(c='accounts_superadmin',f='accounts_super_logout'))}}&nbsp;&nbsp;</td>
  </tr>
</table>

  </div><!--/top navbar -->
  
  <div class="flash">{{=response.flash or ''}}</div>
  
  <div class="container" style="width:100%; margin:0px 0px 0px 0px; padding:0px 0px 0px 0px;">
    <!-- Masthead ================================================== -->
    <header class="mastheader row" id="header" >
	
	</header>
	
    <section id="main" class="main row" style="margin-top:0px;">
        {{if left_sidebar_enabled:}}
        <div class="span3 left-sidebar">
            {{block left_sidebar}}
            <h3>Left Sidebar</h3>
            <p></p>
            {{end}}
        </div>
        {{pass}}

        <div class="{{=middle_columns}}">
            {{block center}}
            {{include}}
            {{end}}
        </div>

        {{if right_sidebar_enabled:}}
        <div class="span3">
            {{block right_sidebar}}
            <h3>Right Sidebar</h3>
            <p></p>
            {{end}}
        </div>
        {{pass}}
    </section><!--/main-->

    <!-- Footer ================================================== -->
    <div class="row" style="width:100%; margin:0px 0px 0px 0px; padding:0px 0px 0px 0px;" >
        <footer class="footer span12" id="footer" style="width:100%; margin:0px 0px 0px 0px;">
            <div class="footer-content"  style="width:100%;" >
                {{block footer}} <!-- this is default footer -->
                <div class="copyright pull-left">
				<a href="">mbh.com.bd</a> {{=T('Copyright')}} &#169; 2014	
				</div>
                <div id="poweredBy" class="pull-right">{{=T('Powered by Md.Billal Hossain, 01719078552')}}</div>
                {{end}}
            </div>
        </footer>
    </div>

  </div> <!-- /container -->

  <!-- The javascript =============================================
       (Placed at the end of the document so the pages load faster) -->
  <script src="{{=URL('static','js/bootstrap.min.js')}}"></script>
  <script src="{{=URL('static','js/web2py_bootstrap.js')}}"></script>

</body>
</html>

