<!--[if HTML5]><![endif]-->
<!DOCTYPE html>

 <html class="no-js" lang="{{=T.accepted_language or 'en'}}"> 
<head>
<title>{{=response.title or request.application}}</title>

  <meta charset="utf-8" />

  <meta name="application-name" content="{{=request.application}}" />

  <meta name="google-site-verification" content="" />

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="shortcut icon" href="{{=URL('static','images/favicon.ico')}}" type="image/x-icon">
  <link rel="apple-touch-icon" href="{{=URL('static','images/favicon.png')}}">

  <script src="{{=URL('static','js/modernizr.custom.js')}}"></script>


  <!-- include stylesheets -->
  {{
  response.files.insert(0,URL('static','css/web2py.css'))
  response.files.insert(1,URL('static','css/bootstrap.min.css'))
  response.files.insert(2,URL('static','css/bootstrap-responsive.min.css'))
  response.files.insert(3,URL('static','css/web2py_bootstrap.css'))
  }}

  {{include 'web2py_ajax.html'}}

  {{
  # using sidebars need to know what sidebar you want to use
  left_sidebar_enabled = globals().get('left_sidebar_enabled',False)
  right_sidebar_enabled = globals().get('right_sidebar_enabled',False)
  middle_columns = {0:'span12',1:'span9',2:'span6'}[
    (left_sidebar_enabled and 1 or 0)+(right_sidebar_enabled and 1 or 0)]
  }}

  <!-- uncomment here to load jquery-ui 
       <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/ui-lightness/jquery-ui.css" type="text/css" media="all" />
       <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js" type="text/javascript"></script>
        uncomment to load jquery-ui-->
	  
	
	<!-------------- Accordian -----------------------------  -->
 
<link rel="stylesheet" href="{{=URL('static','css/menu.css')}}" type="text/css" media="all"/> 
<link rel="stylesheet" href="{{=URL('static','css/jquery-ui.css')}}" type="text/css" media="all"/>

<script src="{{=URL('static','js/jquery-ui.min.js')}}" type="text/javascript"></script>
<script src="{{=URL('static','js/bootstrap-multiselect.js')}}"></script>
<script src="{{=URL('static','js/jquery-ui.js')}}" type="text/javascript"></script>

<!-- menu required -->
	  
	 <!-------------------------------------------  -->
	    
  <noscript><link href="{{=URL('static', 'css/web2py_bootstrap_nojs.css')}}" rel="stylesheet" type="text/css" /></noscript>
  {{block head}}{{end}}
  
</head>

<body style="width:100%; margin:0px 0px 0px 0px; padding:0px 0px 0px 0px;">

  <!-- Navbar ==================================================#F3F3F3 -->
<div class="navbar navbar-inverse" style="width:100%; margin:0px 0px 0px 0px; padding:0px 0px 0px 0px; ">
   
   <!-- 1st top -->
   <table style=" width:100%; margin:0px 0px 0px 0px; background-color:#C5E2E2">
   <tr >
   <td width="250"><!-- <img src="{{#=URL('static','images/mbh_logo.PNG')}}"/> --></td>
   <td style="text-align:center; font-size:16px; color:#666666; font-weight:bold"><font color="#333333">Algorithm Generation Ltd</font></td>
   <td width="250" style="text-align:right">{{=session.user_name}}&nbsp;&nbsp;{{=A('Logout',_href=URL(c='default',f='log_out'))}}&nbsp;&nbsp;</td>
   </tr>
   </table>
   
  <!--  2nd top -->
  <!--<div style="background-color:#DEDEDE; text-align:left">&nbsp;&nbsp;</div>	
  </div>
  
   -->
  <!-- demo -->
<ul id="menu">    
    <li><a href="{{=URL(c='default',f='home')}}" class="drop">Home</a><!-- Begin Home Item -->
    </li><!-- End Home Item -->
	
    
	{{if (session.user_role=='Administrator'):}}
	<li><a href="{{=URL(c='client',f='client_add')}}" class="drop">Client</a><!-- Begin 5 columns Item -->    
        
    </li><!-- End columns Item -->
		
		<li ><a href="#" class="drop">Employee</a><!-- Begin 1 columns container -->    			
			<div class="dropdown_2columns">    
				 <div class="col_1">
					<ul>
						<li><a href="{{=URL(c='employee',f='employee_add')}}" class="drop">Employee</a></li>
						<li><a href="{{=URL(c='employee',f='emp_schedule_add')}}" class="drop">Employee Schedule</a></li>
					</ul>
				</div>    
			</div><!-- End 1 columns container -->			
		</li>
		
	
		<li ><a href="#" class="drop">Company Settings</a><!-- Begin 1 columns container -->    			
			<div class="dropdown_2columns">    
				 <div class="col_1">
					<ul>
						<li><a href="{{=URL(c='settings',f='company_add')}}">Company</a></li>
						<li><a href="{{=URL(c='settings',f='sbu_add')}}">SBU</a></li>
						<li><a href="{{=URL(c='settings',f='department_add')}}">Department</a></li>
					</ul>
				</div>    
			</div><!-- End 1 columns container -->			
		</li>
	
	<li><a href="{{=URL(c='settings',f='time_tracking_sett_add')}}" class="drop">Time Tracking Settings</a><!-- Begin columns Item -->    
        
    </li><!-- End columns Item -->
	{{pass}}
	
</ul>
  <!-- -->
   <div class="flash">{{=response.flash or ''}}</div>
  
  <div class="container" style="width:100%; margin:0px 0px 0px 0px; padding:0px 0px 0px 0px;">
    <!-- Masthead ================================================== -->
    <header class="mastheader row" id="header" ><!-- Page Header --></header>
	
	<!-- container/body part -->
	<table width="100%" style="margin:0px 0px 0px 0px; padding:0px 0px 0px 0px;">
	   <tr>
          		 
		 <!-- body page eeeeee-->
        <td align="left" valign="top" style="margin:0px 0px 0px 0px; padding:0px 0px 0px 0px; background-color: #FCFCFC">
        	<table width="100%" style="margin:0px 0px 0px 0px; padding:0px 0px 0px 0px;">
        		<tr>
        		<td style="margin:0px 0px 0px 0px; padding:0px 0px 0px 0px;"><!-- page content part -->
			
			 <section id="main" class="main row" style="width:100%; min-height:500px; margin:0px 0px 0px 0px; padding:0px 0px 0px 0px;">
				
				<div style="width:100%; margin:0px 0px 0px 0px; padding:0px 0px 0px 0px;">
					{{block center}}
					{{include}}
					{{end}}
				</div>
		
			</section> <!--/main-->
		
	
				</td>
			</tr>
		</table>
		
		</td>
    </tr>
  </table>
	
    <!-- Footer ================================================== -->
    <div class="row" style="width:100%; margin:0px 0px 0px 0px; padding:0px 0px 0px 0px;" >
        <footer class="footer span12" id="footer" style="width:100%; margin:0px 0px 0px 0px;">
            <div class="footer-content"  style="width:100%;" >
                {{block footer}} <!-- this is default footer -->
                <div class="copyright pull-left">&nbsp;</div>
                <div id="poweredBy" class="pull-right">{{=T('Powered by Md.Billal Hossain, 01719078552. (V-20191227)')}}</div>
                {{end}}
            </div>
        </footer>
    </div>

  </div> <!-- /container -->

<!-- menu string -->
	<input type="hidden" id="menuFd" value="{{=session.menuStr}}" />
	
  <!-- The javascript =============================================
       (Placed at the end of the document so the pages load faster) -->
  <script src="{{=URL('static','js/bootstrap.min.js')}}"></script>
  <script src="{{=URL('static','js/web2py_bootstrap.js')}}"></script>

</body>
</html>

