<!--[if HTML5]><![endif]-->
<!DOCTYPE html>

 <html class="no-js" lang="{{=T.accepted_language or 'en'}}"> 
<head>
<title>{{=response.title or request.application}}</title>

  <meta charset="utf-8" />

  <meta name="application-name" content="{{=request.application}}" />

  <meta name="google-site-verification" content="" />

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="shortcut icon" href="{{=URL('static','images/favicon.ico')}}" type="image/x-icon">
  <link rel="apple-touch-icon" href="{{=URL('static','images/favicon.png')}}">

  <script src="{{=URL('static','js/modernizr.custom.js')}}"></script>


  <!-- include stylesheets -->
  {{
  response.files.insert(0,URL('static','css/web2py.css'))
  response.files.insert(1,URL('static','css/bootstrap.min.css'))
  response.files.insert(2,URL('static','css/bootstrap-responsive.min.css'))
  response.files.insert(3,URL('static','css/web2py_bootstrap.css'))
  }}

  {{include 'web2py_ajax.html'}}

  {{
  # using sidebars need to know what sidebar you want to use
  left_sidebar_enabled = globals().get('left_sidebar_enabled',False)
  right_sidebar_enabled = globals().get('right_sidebar_enabled',False)
  middle_columns = {0:'span12',1:'span9',2:'span6'}[
    (left_sidebar_enabled and 1 or 0)+(right_sidebar_enabled and 1 or 0)]
  }}

  <!-- uncomment here to load jquery-ui 
       <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/ui-lightness/jquery-ui.css" type="text/css" media="all" />
       <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js" type="text/javascript"></script>
        uncomment to load jquery-ui-->
	  
	
	<!-------------- Accordian -----------------------------  -->
 
<link rel="stylesheet" href="{{=URL('static','css/jquery-ui.css')}}" type="text/css" media="all"/>
<script src="{{=URL('static','js/jquery-ui.min.js')}}" type="text/javascript"></script>
<script src="{{=URL('static','js/bootstrap-multiselect.js')}}"></script>
<script src="{{=URL('static','js/jquery-ui.js')}}" type="text/javascript"></script>
 
 <script>
 $(function() {
	 var tempMenu2=$("#menuFd" ).val();	
	$( ".menuDiv" ).html(tempMenu2);
		
	
	//$( "#accordion" ).accordion({
	//active: true,
	  //navigation:true,
     // heightStyle: "content",
	  //collapsible: true
	 // }); 
	
	
  });
</script>

<style type="text/css">
	#accordion{ font-family:Verdana, Arial, Helvetica, sans-serif; font-size: 13px;}

	#accordion ul{	list-style-type:none;margin:0;}
	#accordion li{ margin:1px; border-radius:5px; border-bottom:1px solid #CCCCCC; font-size:12px; background-color:#F7F7F7; height:20px; padding:5px 2px 2px 15px;}/*:#F7F7F7*/
	#accordion li a{ text-decoration:none;}
	#accordion li:hover{ height:21px; background-color:#F5F5F5;}
	
	/*#home{ margin-top:0px; width:16px; height:16px;background:url('/lscrmap/static/images/ui-icon.png') 0 -110px;}*/
	
	#settings{ width:32px; height:25px;}<!--background:url('/lscrmap/static/images/vicon.png') -307px -289px;-->
	#purchase{ width:32px; height:25px;}<!--background:url('/lscrmap/static/images/vicon.png') -307px -289px;-->
	#primarysale{ width:32px; height:25px;}	<!--;background:url('/lscrmap/static/images/vicon.png') -115px -194px-->
	#workingarea{ width:32px; height:25px;}<!--background:url('/lscrmap/static/images/vicon.png') -307px -289px;-->
	#fieldforce{ width:32px; height:25px;}<!--background:url('/lscrmap/static/images/vicon.png') -307px -289px;-->
	#client{ width:32px; height:25px;}<!--background:url('/lscrmap/static/images/vicon.png') -307px -289px;-->
	#visit{ width:32px; height:25px;}<!--background:url('/lscrmap/static/images/vicon.png') -307px -289px;-->
	#secondarysale{ width:32px; height:25px;}<!--background:url('/lscrmap/static/images/vicon.png') -307px -289px;-->
	#reports{ width:32px; height:25px;}<!--background:url('/lscrmap/static/images/vicon.png') -307px -289px;-->
	#settings{ width:32px; height:25px;}<!--background:url('/lscrmap/static/images/vicon.png') -307px -289px;-->
	#target{ width:32px; height:25px;}<!--background:url('/lscrmap/static/images/vicon.png') -307px -289px;-->
	#printmanager{ width:32px; height:25px;}<!--background:url('/lscrmap/static/images/vicon.png') -307px -289px;-->
	#doctor{ width:32px; height:25px;}<!--background:url('/lscrmap/static/images/vicon.png') -307px -289px;-->
	#office{ width:32px; height:25px;}<!--background:url('/lscrmap/static/images/vicon.png') -307px -289px;-->
	#tools{ width:32px; height:25px;}<!--background:url('/lscrmap/static/images/vicon.png') -307px -289px;-->
</style>

<!-- menu required -->
	  
	 <!-------------------------------------------  -->
	    
  <noscript><link href="{{=URL('static', 'css/web2py_bootstrap_nojs.css')}}" rel="stylesheet" type="text/css" /></noscript>
  {{block head}}{{end}}
  
  
</head>

<body style="width:100%; margin:0px 0px 0px 0px; padding:0px 0px 0px 0px;">
	
	
  <!-- Navbar ==================================================#F3F3F3 -->
   <div class="navbar navbar-inverse" style="width:100%; margin:0px 0px 0px 0px; padding:0px 0px 0px 0px; ">
   
   <!-- 1st top -->
      
  <!--  2nd top -->
    
  </div><!--/top navbar -->
  
  <div class="flash">{{=response.flash or ''}}</div>
  
  <div class="container" style="width:100%; margin:0px 0px 0px 0px; padding:0px 0px 0px 0px;">
    <!-- Masthead ================================================== -->
    <header class="mastheader row" id="header" ><!-- Page Header --></header>
	
	
	
	
	<!------------->
	
	<!-- container/body part -->
	<table width="100%" style="margin:0px 0px 0px 0px; padding:0px 0px 0px 0px;">
	   <tr>
          <td width="150px" valign="top" style="margin:0px 0px 0px 0px; padding:0px 0px 0px 0px;">
			
			<!-- start menu -->
           	   
           
		   </td><!-- end menu -->
		  		 
		 <!-- body page -->
        <td align="left" valign="top" style="margin:0px 0px 0px 0px; padding:0px 0px 0px 0px;">
        	<!-- Report Title -->
			<table width="900" >
				<tr>
					<td width="406" style="padding-left:0px; margin-left:0px;"><b><font size="+2">{{=session.compName}}</font></b></td>
					<td width="482">&nbsp;</td>
				</tr>
				<tr>
					<td align="left" style="padding-left:0px; margin-left:0px;">{{=session.compCity}}-{{=session.compZipCode}},&nbsp;{{=session.compContry}}<br/>
			Email:{{=session.compEmail}},&nbsp;Phone:{{=session.compPhone}}</td>
					<td style="text-align:right" valign="bottom"><br>
					Print Date:{{=currentDateTime}}</td>
				</tr>
				<tr height="0px" class="page_title_underline">
					<td colspan="2" style="padding:0px;"></td>
				</tr>				
			</table>
			
			<!-- End Report Title -->
			<table width="100%" style="margin:0px 0px 0px 0px; padding:0px 0px 0px 0px;">
        		<tr>
        		<td style="margin:0px 0px 0px 0px; padding:0px 0px 0px 0px;"><!-- page content part -->
			
			 <section id="main" class="main row" style="width:100%; min-height:500px; margin:0px 0px 0px 0px; padding:0px 0px 0px 0px;">
				
				<div style="width:100%; margin:0px 0px 0px 0px; padding:0px 0px 0px 0px;">
					{{block center}}
					{{include}}
					{{end}}
				</div>
		
			</section> <!--/main-->
		
	
				</td>
			</tr>
		</table>
		
		</td>
    </tr>
  </table>
	
    <!-- Footer ================================================== -->
    
  </div> <!-- /container -->

<!-- menu string -->

	
  <!-- The javascript =============================================
       (Placed at the end of the document so the pages load faster) -->
  <script src="{{=URL('static','js/bootstrap.min.js')}}"></script>
  <script src="{{=URL('static','js/web2py_bootstrap.js')}}"></script>

</body>
</html>

